
.switch {
    display: none;

    &:checked {
        + label {
            background-color: var(--color-primary);

            &::before {
                left: 29px;
            }

            &:hover {
                background-color: var(--color-primary-hover);
            }
        }
    }
}

label {
    position: relative;
    background-color: var(--color-background);
    border-radius: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 50px;
    width: 57px;
    height: 31px;
    transition: 0.2s;

    &::before {
        position: absolute;
        background-color: var(--color-main);
        border-radius: 1em;
        content: "";
        width: 24px;
        height: 24px;
        left: 4px;
        transition: 0.2s ease-out;
    }

    &:hover {
        background-color: var(--color-background-hover);
    }
}