.container {
    $header-height: 70px;
    $header-side-margin: 40px;

    width: 100%;
    height: $header-height;

    box-sizing: border-box;
    display: flex;
    align-items: center;

    background-color: var(--color-primary);
    border-bottom: solid 5px;
    border-bottom-color: var(--color-primary-dark);
    color: var(--color-main);

    > .icon {
        margin-left: $header-side-margin;

        font-size: 25px;
        font-weight: bold;

        > .title {
            display: inline-block;
        }
    }

    > .routes {
        margin-left: auto;
        margin-right: $header-side-margin;
        display: flex;
    
        a {
            color: var(--color-main);
            text-decoration: none;
            font-weight: bold;
            font-size: 20px;
            
            margin-left: 10px;
            margin-right: 10px;
            
            transition: border 0.2s;

            &:hover {
                background-color: var(--color-primary-hover);
                border-bottom: solid 5px;
                border-bottom-color: red;

            }

            &.active {
                border-bottom: solid 5px;
                border-bottom-color: var(--color-main);
            }

            svg {
                height: 25px;
                width: auto;
            }

            > .link {
                height: $header-height;
                display: flex;
                align-items: center;
                justify-content: center;

                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}