@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");
body, input, textarea, select, button {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 500;
    color: rgb(101, 99, 109);
    background-color: var(--color-background);
}

span, input, textarea, select, button {
    transform: rotate(0.03deg);
}

a, input, textarea, select, button {
    &:focus {
        outline: none;
    }
}

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --color-main: rgb(255, 255, 255);
    --color-font: rgb(83, 93, 102);
    --color-primary: rgb(25, 137, 228);
    --color-primary-hover: rgb(14, 113, 194);
    --color-primary-dark: rgb(19, 84, 170);
    --color-primary-dark-hover: rgb(9, 61, 130);
    --color-shadow: rgb(201, 200, 212);
    --color-disabled: rgb(147, 146, 155);
    --color-background: rgb(227, 232, 235);
    --color-background-hover: rgb(206, 213, 218);
    --color-background-modal: rgba(0, 0, 0, 0.6);
    
    --border-radius: 4px;
}