@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");
body {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 500;
    color: rgb(75, 75, 75);
}

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --color-main: rgb(255, 255, 255);
    --color-font: rgb(83, 93, 102);
    --color-primary: rgb(25, 137, 228);
    --color-disable: rgb(217, 224, 230);
    --color-background: rgb(244, 248, 251);
    --color-background-modal: rgba(0, 0, 0, 0.6);
    --color-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);

    --border-radius: 4px;
}