.container {
    height: 100%;
    width: 100%;
    
    padding: 20px;
    box-sizing: border-box;

    > .toolBox {
        padding: 20px;
        margin-bottom: 10px;
        box-sizing: border-box;

        background-color: var(--color-main);
        border-bottom: solid 5px;
        border-bottom-color: var(--color-disable);
        
        > .column {
            box-sizing: border-box;
            width: 100%;
            display: flex;
        }

        .search {
            border: none;
            background-color: var(--color-background);
            border-bottom: solid 5px;
            border-bottom-color: var(--color-disable);

            font-size: 18px;
            padding-left: 10px;
            padding-right: 10px;
            margin-right: auto;

            width: 60%;
        }
    }
}