.container {
    height: 100%;
    width: 100%;
    
    padding: 20px;
    box-sizing: border-box;

    > .toolBox {
        padding: 20px;
        margin-bottom: 10px;
        box-sizing: border-box;

        background-color: var(--color-main);
        border-bottom: solid 5px;
        border-bottom-color: var(--color-shadow);
        
        > .column {
            box-sizing: border-box;
            width: 100%;
            display: flex;
        }

        .search {
            border: none;
            background-color: var(--color-background);

            font-size: 18px;
            padding-left: 10px;
            padding-right: 10px;
            margin-right: auto;

            transition: 0.2s;
            width: 60%;

            &:hover {
                background-color: var(--color-background-hover);
            }
        }
    }
}